<!DOCTYPE HTML>

<html lang="en">

<head>
	<meta  charset="UTF-8" />
	<title>Roster Management</title>
</head>

<body>
<div class="container">
	<div class="banner">
	Roster Management
	</div>
	<div class="content">
	   <div class="content-left">
	     <div class="login">
	     <label>User Name</label>
	     <input type="textbox" name="userName">
	     <label>Password</label>
	     <input type="textbox" name="password">
	     <input type="submit" name="submit">
	     </div>
	   </div>
	   <div class="content-right">
	   </div>
	</div>
</div>
	<footer>
		<p>Roster Management</p>
	</footer>

</body>

</html>